@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.container {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 1440px;
}

.header .header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 37px 0;
}
.header .header__logo {
  display: flex;
}
.header .header__menu {
  display: none;
}
.header .header__nav {
  display: flex;
  gap: 30px;
  position: relative;
}
.header .header__bottom {
  position: absolute;
  top: 2px;
  left: 38px;
}
.header .header__search {
  position: relative;
}
.header #header__search {
  padding: 12px 52px 14px;
  background-color: #F0F0F0;
  border: none;
  border-radius: 62px;
  width: 500px;
}
.header .header__loop {
  position: absolute;
  top: 8px;
  left: 15px;
}
.header .header__icon {
  display: none;
}
.header .header__link{
  color: #000000;
}

.hero {
  background-color: #F2F0F1;
}
.hero .hero__wrapper {
  display: flex;
  justify-content: space-between;
  position: relative;
}
.hero .hero__left {
  width: 600px;
  padding: 103px 0 116px;
}
.hero .hero__title {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-style: Bold;
  font-size: 64px;
  line-height: 64px;
  letter-spacing: 0%;
  vertical-align: middle;
  color: #000000;
}
.hero .hero__txt {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0%;
  color: rgba(0, 0, 0, 0.6);
  margin: 32px 0 40px;
}
.hero a {
  padding: 15px 68px;
  background-color: #000000;
  color: #fff;
  border-radius: 62px;
}
.hero .hero__list {
  display: flex;
  align-items: center;
  gap: 32px;
  margin-top: 48px;
}
.hero .hero__price {
  font-family: "inter", sans-serif;
  font-weight: 700;
  font-style: Bold;
  font-size: 40px;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;
  color: #000000;
}
.hero .hero__subtxt {
  font-family: Satoshi;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0%;
  color: rgba(0, 0, 0, 0.6);
}
.hero .hero__hr {
  width: 1px;
  height: 70px;
  background-color: rgba(0, 0, 0, 0.1019607843);
}
.hero .hero__brand {
  width: 550px;
  height: 600px;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 63px;
  left: 700px;
}
.hero .hero__first {
  width: 104px;
  height: 104px;
  position: absolute;
  top: 110px;
  left: 1150px;
}
.hero .hero__secondary {
  width: 56px;
  height: 56px;
  position: absolute;
  top: 325px;
  left: 690px;
}

.brand {
  padding: 45px 0;
  background-color: #000000;
}
.brand .brand__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 106px;
}

.arriwals {
  padding-top: 72px;
}
.arriwals .arriwals__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  margin-bottom: 40px;
}
.arriwals .arriwals__title {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-style: Bold;
  font-size: 48px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  margin-bottom: 55px;
}
.arriwals .arriwals__txt {
  margin-top: 20px;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-style: Bold;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;
}
.arriwals .arriwals__star {
  margin: 10px 0;
}
.arriwals .arriwals__shop {
  display: flex;
  align-items: center;
  gap: 10px;
}
.arriwals .arriwals__price {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-style: Bold;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;
  color: #000000;
}
.arriwals .arriwals__old {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-style: Bold;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;
  text-decoration: line-through;
  color: rgba(0, 0, 0, 0.4);
}
.arriwals .arriwals__del {
  color: rgba(0, 0, 0, 0.4);
}
.arriwals .arriwals__btn {
  padding: 6px 14px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-style: Medium;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0%;
  background-color: rgba(255, 51, 51, 0.1019607843);
  color: #FF3333;
  border: none;
  border-radius: 62px;
}
.arriwals .arriwals__forlink {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 80px;
}
.arriwals .arriwals__link {
  padding: 15px 80px;
  border: 1px solid rgba(0, 0, 0, 0.1019607843);
  border-radius: 62px;
  color: #000000;
}
.arriwals .arriwals__hr {
  width: 1310px;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.1019607843);
}

.sell {
  padding: 72px 0 80px;
}
.sell .sell__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  margin-bottom: 40px;
}
.sell .sell__title {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-style: Bold;
  font-size: 48px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  margin-bottom: 55px;
}
.sell .sell__txt {
  margin-top: 20px;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-style: Bold;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;
}
.sell .sell__star {
  margin: 10px 0;
}
.sell .sell__shop {
  display: flex;
  align-items: center;
  gap: 10px;
}
.sell .sell__price {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-style: Bold;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;
  color: #000000;
}
.sell .sell__old {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-style: Bold;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;
  text-decoration: line-through;
  color: rgba(0, 0, 0, 0.4);
}
.sell .sell__del {
  color: rgba(0, 0, 0, 0.4);
}
.sell .sell__btn {
  padding: 6px 14px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-style: Medium;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0%;
  background-color: rgba(255, 51, 51, 0.1019607843);
  color: #FF3333;
  border: none;
  border-radius: 62px;
}
.sell .sell__forlink {
  display: flex;
  align-items: center;
  justify-content: center;
}
.sell .sell__link {
  padding: 15px 80px;
  border: 1px solid rgba(0, 0, 0, 0.1019607843);
  border-radius: 62px;
  color: #000000;
}
.sell .sell__hr {
  width: 1310px;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.1019607843);
}

.style .style__wrapper {
  padding: 75px 65px;
  background-color: #F0F0F0;
}
.style .style__title {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-style: Bold;
  font-size: 48px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  color: #000000;
  margin-bottom: 65px;
}
.style .style__pic {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;
}

.customer {
  padding: 80px 0;
  margin-bottom: 95px;
}
.customer .customer__about {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}
.customer .customer__img {
  display: flex;
  align-items: center;
  gap: 20px;
}
.customer .customer__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  overflow: auto;
}
.customer .customer__list::-webkit-scrollbar{
  display: none;
}
.customer .customer__item {
  min-width: 400px;
  height: 240px;
  border: 1px solid rgba(0, 0, 0, 0.1019607843);
  border-radius: 20px;
  padding: 28px 32px;
}
.customer .customer__info {
  display: flex;
  align-items: center;
  gap: 5px;
  margin: 15px 0;
}
.customer .customer__title {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-style: Bold;
  font-size: 48px;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;
}
.customer .customer__txt {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-style: Bold;
  font-size: 20px;
  line-height: 22px;
  letter-spacing: 0%;
}
.customer .customer__subtxt {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: "Regular";
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0%;
  color: rgba(0, 0, 0, 0.6);
}

.footer {
  background-color: #F0F0F0;
}
.footer .footer__wrapper {
  padding: 130px 0 90px;
  position: relative;
}
.footer .footer__update {
  position: absolute;
  top: -90px;
  left: 140px;
  padding: 43px 64px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #000000;
  border-radius: 20px;
}
.footer .footer__about {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-style: Bold;
  font-size: 40px;
  line-height: 45px;
  letter-spacing: 0%;
  color: #fff;
  width: 550px;
}
.footer .footer__mail {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.footer #mail {
  padding: 13px 125px 13px 52px;
  border: none;
  border-radius: 62px;
}
.footer .footer__img {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 8px;
  left: 17px;
}
.footer .footer__btn {
  padding: 12px 88px;
  background-color: #fff;
  color: #000000;
  border-radius: 62px;
}
.footer__list{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .footer__item{
        display: flex;
        flex-direction: column;
        gap: 25px;
    }
    .footer__dec{
        width: 285px;
    }
    .footer__image{
        width: 167px;
        height: 23px;
    }
    .footer__pic{
        display: flex;
        gap: 12px;
    }
    .footer__title{
        font-family: "Inter",sans-serif;
        font-weight: 500;
        font-style: Medium;
        font-size: 16px;
        line-height: 18px;
        letter-spacing: 3px;
        text-transform: uppercase;
    }
    .footer__txt{
        font-family: "Inter",sans-serif;
        font-weight: 400;
        font-style: Regular;
        font-size: 16px;
        line-height: 19px;
        letter-spacing: 0px;
        color: #00000099;
    }
    .footer__hr{
      width: 1310px;
      height: 1px;
      background-color: #0000001A;
      margin: 50px 0 25px;
    }
    .footer__reserved{
      font-family: "Inter",sans-serif;
      font-weight: 400;
      font-style: Regular;
      font-size: 14px;
      line-height: 100%;
      letter-spacing: 0%;
      text-align: right;
      color: #00000099;
    }
    .footer__private{
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

@media (max-width: 390px) {
  .header .header__logo {
    align-items: center;
    gap: 16px;
  }
  .header .header__shopco {
    width: 126px;
    height: 18px;
  }
  .header .header__menu {
    display: inline-block;
  }
  .header .header__nav {
    display: none;
  }
  .header .header__search {
    display: none;
  }
  .header .header__icon {
    display: inline-block;
  }
  .hero .hero__title {
    font-size: 36px;
    line-height: 34px;
  }
  .hero .hero__left {
    margin-bottom: 290px;
  }
  .hero .hero__txt {
    font-size: 14px;
    line-height: 20px;
  }
  .hero .hero__list {
    flex-wrap: wrap;
    justify-content: center;
  }
  .hero .hero-secondary {
    display: none;
  }
  .hero a {
    padding: 15px 135px;
  }
  .hero .hero__price {
    font-size: 24px;
  }
  .hero .hero__subtxt {
    font-size: 12px;
  }
  .hero .hero__brand {
    width: 350px;
    height: 408px;
    top: 550px;
    left: 1px;
  }
  .hero .hero__first {
    width: 76px;
    height: 76px;
    top: 600px;
    left: 270px;
  }
  .hero .hero__secondary {
    width: 44px;
    height: 44px;
    top: 700px;
    left: 5px;
  }
  .brand .brand__wrapper {
    justify-content: center;
    flex-wrap: wrap;
    gap: 34px;
  }
  .brand img {
    height: 23px;
  }
  .arriwals .arriwals__list {
    overflow: auto;
  }
  .arriwals .arriwals__title {
    font-size: 32px;
  }
  .arriwals .arriwals__link {
    padding: 15px 144px;
  }
  .arriwals .arriwals__hr {
    width: 350px;
  }
  .sell .sell__list {
    overflow: auto;
  }
  .sell .sell__title {
    font-size: 32px;
  }
  .sell .sell__link {
    padding: 15px 144px;
  }
  .style .style__wrapper {
    padding: 40px 25px;
  }
  .style .style__title {
    font-size: 32px;
    line-height: 36px;
  }
  .style .style__pic {
    flex-wrap: nowrap;
    gap: 15px;
    overflow: auto;
  }
  .customer .customer__title {
    font-size: 32px;
    line-height: 36px;
  }
  .customer .customer__txt {
    font-size: 16px;
    line-height: 22px;
  }
  .customer .customer__subtxt {
    font-size: 14px;
    line-height: 20px;
  }
  .customer .customer__item {
    padding: 24px;
    min-width: 358px;
  }


  .footer .footer__update{
    top: -190px;
    left: 0;
    flex-direction: column;
    max-width: 360px;
    padding: 25px;
  }
  .footer .footer__about{
    width: 300px;
    font-size: 32px;
    line-height: 35px;
    margin-bottom: 32px;
  }
  .footer .footer__list{
    flex-wrap: wrap;
    gap: 90px;
  }
  .footer .footer__private{
    flex-direction: column;
    gap: 20px;
  }
  .footer .footer__hr{
    width: 350px;
  }
}