*{
padding: 0;
margin: 0;
box-sizing: border-box;
}
body{
font-family: "Inter", sans-serif;
}
a{
text-decoration: none;
}
li{
list-style: none;
}
.container{
margin: 0 auto;
padding: 0 20px;
max-width: 1440px;
}