@import "./generals";
@import "./fonts";
@import "./blocks/header";
@import "./blocks/hero.scss";
@import "./blocks/brand";
@import "./blocks/arriwals";
@import "./blocks/sell";
@import "./blocks/style";
@import "./blocks/customer";
@import "./blocks/footer";
@import "./blocks/mobile";