body{
    background-image: url(https://s3-alpha.figma.com/hub/file/5792458718/17d6fd6a-2e50-471b-b5fc-bf9fdfc2a002-cover.png);
    background-repeat: no-repeat;
    background-size: 1400px;
    background-position: calc(50%) calc(50% + 400px);
    
}