.customer{
    padding: 80px 0;
    margin-bottom: 95px;

    .customer__about{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 40px;
    }
    .customer__img{
        display: flex;
        align-items: center;
        gap: 20px;
    }
    .customer__list{
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
        overflow: auto;
    }
    .customer__item{
        min-width: 400px;
        height: 240px;
        border: 1px solid #0000001A;
        border-radius: 20px;
        padding: 28px 32px;
    }
    .customer__info{
        display: flex;
        align-items: center;
        gap: 5px;
        margin: 15px 0;
    }
    .customer__title{
        font-family: "Inter",sans-serif;
        font-weight: 700;
        font-style: Bold;
        font-size: 48px;
        line-height: 100%;
        letter-spacing: 0%;
        vertical-align: middle;

    }
    .customer__txt{
        font-family: "Inter",sans-serif;
        font-weight: 700;
        font-style: Bold;
        font-size: 20px;
        line-height: 22px;
        letter-spacing: 0%;
    }
    .customer__subtxt{
        font-family: "Inter",sans-serif;
        font-weight: 400;
        font-style: "Regular";
        font-size: 16px;
        line-height: 22px;
        letter-spacing: 0%;
        color: #00000099;    
    }
}