.style{

    .style__wrapper{
        padding: 75px 65px;
        background-color: #F0F0F0;
    }
    .style__title{
        font-family: "Inter",sans-serif;
        font-weight: 700;
        font-style: Bold;
        font-size: 48px;
        line-height: 100%;
        letter-spacing: 0%;
        text-align: center;
        vertical-align: middle;
        color: #000000;
        margin-bottom: 65px;
    }
    .style__pic{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 20px;
    }
}