@media (max-width: 390px){
    // header
    .header{
        .header__logo{
            align-items: center;
            gap: 16px;
        }
        .header__shopco{
            width: 126px;
            height: 18px;
        }
        .header__menu{
            display: inline-block;
        }
        .header__nav{
            display: none;
        }
        .header__search{
            display: none;
        }
        .header__icon{
            display: inline-block;
        }
    }


    // hero
    .hero{
        
        .hero__title{
            font-size: 36px;
            line-height: 34px;
        }
        .hero__left{
            margin-bottom: 290px;
        }
        .hero__txt{
            font-size: 14px;
            line-height: 20px;
        }
        .hero__list{
            flex-wrap: wrap;
            justify-content: center;
        }
        .hero-secondary{
            display: none;
        }
        a{
            padding: 15px 135px;
        }
        .hero__price{
            font-size: 24px;
        }
        .hero__subtxt{
            font-size: 12px;
        }
        .hero__brand{
            width: 350px;
            height: 408px;
            top: 550px;
            left: 1px;
        }
        .hero__first{
            width: 76px;
            height: 76px;
            top: 600px;
            left: 270px;
        }
        .hero__secondary{
            width: 44px;
            height: 44px;
            top: 700px;
            left: 5px;
        }
        }

        // brand
        .brand{
            .brand__wrapper{
                justify-content: center;
                flex-wrap: wrap;
                gap: 34px;
            }
            img{
                height: 23px;
            }
        }


        // arriwals
        .arriwals{
            .arriwals__list{
                overflow: auto;
            }
            .arriwals__title{
                font-size: 32px;
            }
            .arriwals__link{
                padding: 15px 144px;
            }
            .arriwals__hr{
                width: 350px;
            }
        }



        // sell
        .sell{
            .sell__list{
                overflow: auto;
            }
            .sell__title{
                font-size: 32px;
            }
            .sell__link{
                padding: 15px 144px;
            }
        }


        // style
        .style{
            .style__wrapper{
                padding: 40px 25px;
            }
            .style__title{
                font-size: 32px;
                line-height: 36px;
            }
            .style__pic{
                flex-wrap: nowrap;
                gap: 15px;
                overflow: auto;
            }
        }


        // customer
        .customer{
            .customer__title{
                font-size: 32px;
                line-height: 36px;
            }
            .customer__txt{
                font-size: 16px;
                line-height: 22px;
            }
            .customer__subtxt{
                font-size: 14px;
                line-height: 20px;
            }
            .customer__item{
                padding: 24px;
                min-width: 358px;
            }
        }
}